%html
  %head
  %body
    %form{:method => 'post', :action => '/ideas', :name => 'model'}
      %label{:for => 'model[name]'} Name
      %input{:name => 'model[name]', :type => 'text'}
      %br
      %label{:for => 'model[cuisine]'} Cuisine
      %input{:name => 'model[cuisine]', :type => 'text'}
      %br
      %input{:type => 'submit'}
