%html
  %head
  %body
    %form{:method => 'post', :action => '/ideas', :name => 'idea'}
      %label{:for => 'idea[name]'} Name
      %input{:name => 'idea[name]', :type => 'text'}
      %br
      %label{:for => 'idea[cuisine]'} Cuisine
      %input{:name => 'idea[cuisine]', :type => 'text'}
      %br
      %input{:type => 'submit'}
